.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutMainPage {
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    justify-content: flex-start;
    overflow: hidden;
    padding-top: 5vh;
}

#waveBottom {
    position: absolute;
    bottom: -10%;
    width: 100%;
}

#aboutColumns {
    width: 100%;
    height: 60vh;
    z-index: 2;
    justify-content: space-around;
    padding: 20px;
    margin-top: 5vh;
    
}

#teamImg {
    background-image: url(/team.jpg);
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 100%;
    box-shadow: 2px 2px 5px black;
}

#aboutText {
    width: 48%;
    padding: 10px;
    font-size: 20px;
    line-height: 2;
    border: 3px solid #011936;
    border-right: none;
    padding: 30px;
    width: 55%;
}

#aboutText span {
    font-size: 30px;
    text-transform: uppercase;
    color:#ED254E;
    line-height: 1;
    font-weight: bold;
}

.animated {
    animation: pop 0.4s forwards ease-in;
    }

@keyframes pop {
    0% {
        opacity: 0;
        
    }

    100% {
        opacity: 1;
        
    }
}
