.flex {
    display: flex;
}

#aboutMainPage {
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-top: 5vh;
    overflow: hidden;
}

#waveBottom {
    width: 100%;
}

#aboutColumns {
    width: 90%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 5vh;
    font-family: Raleway, sans-serif;
    flex-direction: row-reverse;
    color: var(--primary-color);
}

#teamImg {
    width: 38%;
    box-shadow: 2px 2px 5px black;
}

#aboutText {
    width: 42%;
    font-size: 16px;
    line-height: 2;
    border: 3px solid var(--primary-color);
    border-right: none;
    padding: 30px;
    text-justify: inter-word;
    text-align: justify;
}

#aboutText span {
    font-size: 25px;
    text-transform: uppercase;
    color:var(--attention-color);
    line-height: 1;
    font-weight: bold;
}

.animated {
    -webkit-animation: pop 0.4s forwards ease-in;
            animation: pop 0.4s forwards ease-in;
    }

@-webkit-keyframes pop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1500px) {
    #teamImg, #aboutText {
        width: 50%;
    }
}

@media screen and (max-width: 1300px) {
    #aboutText {
        font-size: 15px;
        padding: 20px;
    }
    #aboutText span {
        font-size: 25px;
    }
    #teamImg {
        width: 45%;
    }
}

@media screen and (max-width: 1150px) {
    #aboutMainPage {
        justify-content: space-between;
    }
    #aboutText {
        border: none;
        width: 100%;
    }

    #aboutColumns {
        width: 90%;
        padding: 10px;
        display: block;
        border: 3px solid var(--primary-color)
    }

    #teamImg {
        float: right;
        margin: 15px;
        width: 40%;
        box-shadow: none;
        margin: 15px 15px 0 15px;
    }
    #waveBottom {
        position: static;
    }
}

@media (max-width: 850px) {
    #aboutText {
        font-size: 14px;
        padding: 12px;
        border: none;
    }
    #aboutText span {
        font-size: 20px;
    }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
    #aboutMainPage {
        justify-content: center;
        margin: 0;
        padding: 0;
    }
        
    #aboutColumns {
        padding: 0;
        width: 85%;
        margin-bottom: 2%;
    }
    #waveBottom {
        display: none;
    }
    #teamImg {
        width: 35%;
    }
}

@media (max-width: 667px) {
    #teamImg {
        display: none;
    }
}

@media screen and (max-width: 650px) and (orientation: landscape) {

    #aboutMainPage {
        justify-content: space-evenly;
        padding: 0;
    }
    #waveBottom {
        display: none;
    }
}

@media (max-width: 580px) and (orientation: landscape) {
    #aboutText {
        padding: 10px;
    }
    #aboutColumns {
        margin: 0;
    }
}

@media (max-width: 359px) {
    #aboutMainPage {
        padding-top: 10px;
    }

    #aboutText {
        font-size: 13px;
        padding: 5px;
        border: none;
    }
    #aboutText span {
        font-size: 17px;
    }
}

@media (max-height: 380px) {
    #teamImg {
        display: none;
    }
}