#callToAction {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background: var(--secondary-color);
    box-shadow: var(--box-shadow);
    margin: 8vh auto;
}

#callToAction p {
    line-height: 2;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-family: Raleway;
    padding: 10px;
}

#callToAction span {
    color: red;
    font-weight: 600;
}

#ctaImg {
    width: 20%
}

@media (max-width: 1300px) {
     
    #callToAction {
        width: 70%
    }
}

@media (max-width: 1150px) {

    #callToAction {
        width: 90%;
    }

    #callToAction p {
        font-size: 16px;
    }
    .contact {
        font-size: 16px;
    }
}

@media screen and (max-width: 850px) {

    #callToAction {
        width: 100%;
        margin-bottom: 0;
        flex-direction: column;
    }

    #ctaImg {
        display: none;
    }

    #callToAction p {
        font-size: 14px;
        padding: 5px;
    }
    #contact {
        font-size: 15px;
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
    
    #ctaImg {
        display: block;
    }
    #callToAction {
        flex-direction: row;
    }
}

