/* ------------------------ Main contact page ------------------------  */

#contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/contact.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 5vh;
}

#mainContactBox {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 10vh;
    width: 100%;
    height: 70vh;
    padding: 10px;
}

.contactHeader {
    font-size: 25px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--box-shadow);
    margin-bottom: 2%;
}

/* ------------------------ Contact form ------------------------  */

.flexWrapper {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#form {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    background-color: rgba(255, 255, 255, 0.075);
    position: relative;
    transition: 0.66s ease-in;
}

#form input {
    width: 80%;
    padding: 10px;
    margin: 10px 10px 0 10px;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    border: 0.2px solid rgb(165, 156, 156);
    box-sizing: border-box;
}

#form input:focus, textarea:focus {
    outline: 2px solid var(--secondary-color)
}

#form button {
    width: 35%;
    font-size: 25px;
    padding: 15px;
}

#nameGroup {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top:5%;
}

#nameGroup input {
    width: 49%;
    margin: 0;
}

#form textarea {
    width: 80%;
    height: 40%;
    padding: 10px;
    margin: 10px;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    resize: none;
}

/* ------------------------ Contact card ------------------------  */

#contactCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.075);
}

#contactCardList {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: var(--text-color);
    box-shadow: var(--box-shadow);
    color: var(--primary-color);
}

#contactCardList li {
    padding: 5px 0px;
    width: 100%;
    font-size: 18px;
    opacity: 1;
    line-height: 1.5;
    letter-spacing: 1.1px;
}

#contactCardList i {
    color: var(--attention-color);
    padding-right: 5px;
    opacity: 1;
}

.animated {
    -webkit-animation: pop 0.4s forwards ease-in;
            animation: pop 0.4s forwards ease-in;
    }

@-webkit-keyframes pop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1100px) {
    .flexWrapper {
        width: 48%;
    }
}

@media screen and (max-width: 1024px) {
    
    #mainContactBox {
        flex-direction: column;
        justify-content: flex-end;
        padding: 0px;
        height: 100%;
        margin-top: 2vh;
        align-items: center;
    }

    .flexWrapper {
        width: 100%;
    }

    .flexWrapper:first-of-type {
        height: 60%;
        justify-content: center;
    }

    .flexWrapper:nth-of-type(2) {
        flex-direction: row;
        width: 100%;
        margin-top: 2%;
        height: 20%;
    }

    #form {
        width: 60%;
    }

    #form input {
        font-size: 1.8rem;
    }

    #form textarea {
        font-size: 1.8rem;
        height: 30%;
    }

    #form button {
        font-size: 2.3rem;
        margin-bottom: 0;
    }

    #contactCard {
        width: 100%;
        height: 100%;
    }

    #contactCardList {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--secondary-color);
        color: var(--text-color);
        flex-direction: row;
    }

    #contactCardList li {
        font-size: 1.7rem;
        height: 100%;
        width: 95%;    
    }

    .contactHeader {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #form {
        width: 80%
    }
    .flexWrapper:nth-of-type(2) {
        height: 30%;
    }
    #contactCardList {
        display: flex;
        flex-direction: column;
    }
    #contactCardList li {
        font-size: 2rem;
        height: 100%;
        width: 100%;    
    }
}

@media screen and (max-width: 550px) {
    #form {
        width: 90%
    }

}

@media screen and (max-width: 900px) and (orientation: landscape) {
    #contact {
        padding-top: 0;
        position: relative;
    }

    #contact > :first-child {
        position: absolute;
        margin-top: 25vh;
        margin-right: 50vw;
    }

    .contactHeader {
        display: none;
    }

    #mainContactBox {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-end;
        padding: 0;
        height: 100%;
        margin-top: 0;
    }

    #form {
        width: 100%;
        /* background-color: var(--primary-color) */
    }

    #form input {
        font-size: 1.5rem;
    }

    #form textarea {
        font-size: 1.5rem;
        height: 30%;
    }

    #form button{
        font-size: 2rem;
        padding: 2%;
        margin-bottom: 2%;
    }

    .flexWrapper {
        height: 92%;
        margin-bottom: 2%;
    }

    .flexWrapper:first-of-type {
        height: 100%;
        margin: 0;
    }

    .flexWrapper:nth-of-type(2) {
        height: 50%;
        margin: 0;
    }

    #contactCardList {
        padding: 10px;
        height: auto;
        box-shadow: none;
        height: 100%;
    }

    #contactCardList li {
        font-size: 1.6rem;
    }
}



@media screen and (max-width: 600px) and (orientation: landscape) {
    #contact > :first-child {
        top: 20%;
        left: 8%;
    }

    .flexWrapper:first-child {
        width: 50%;
    }

    #contactCard {
        position: relative;
    }
}

@media screen and (max-width: 320px) {
    #contact {
        padding-top: 3%
    }
    .flexWrapper {
        padding: 0;
    }

    #form {
        width: 95%;
        height: 100%;
    }
    #contactCardList {
        padding: 10px;
    }
}