#contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url(/email.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 5vh;
}

#mainContactBox {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 10vh;
    width: 100%;
    height: 70vh;
    padding: 10px;
}

.contactCard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 45%;
    border: 2px solid white;
    height: 100%;
    padding: 30px;
    box-shadow: var(--box-shadow);
    background-color: rgba(255, 255, 255, 0.5);
}

#form input {
    width: 80%;
    padding: 10px;
    margin: 10px;
}

#form textarea {
    width: 80%;
    height: 40%;
    padding: 10px;
    margin: 10px;
}

#submit {
    width: 30%;
    background-color: #ED254E;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: var(--box-shadow);
}

#traditionalContact {
    color: #011936;
    height: 60%;
}

#traditionalContact h2 {
    color: white;
    background-color: #ED254E;
    padding: 10px;
    margin-bottom: auto;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

#twoColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 2%;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    border: 1px solid grey;
    background-color: white;
    width: 50%;
}

.column:first-child {
    margin-right: 2%;
}

.column h3 {
    padding: 10px;
}

.column ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    flex: 1;
    padding: 10px;
}

.column ul li {
    padding: 5px 0px;
    width: 100%;
    font-size: 18px;
}

.column ul li i {
    color: #ED254E;
    padding-right: 5px;
}

.bold {
    font-weight: bold;
}