/* Showcase styles */

#showcase {
    background-image: url(/city.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: var(--showcase-color);
    font-family: Roboto, sans-serif;
    position: relative;
}

#showcase::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(3, 3, 78, 0.493);
    width: 100%;
    height: 100%;
}

#showcaseTitle {
    padding: 60px;
    width: 80%;
    font-size: 45px;
    font-family: Raleway;
    letter-spacing: 7px;
    text-shadow: 1px 1px 3px black;
    text-transform: uppercase;
    text-align: center;
}

.animated {
animation: pop 0.4s forwards ease-in;
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: translateY(1%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#showcaseBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

#showcaseDescription {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    border: 3px solid #F9DC5C;
    border-left: none;
    margin-left: 0%;
    overflow: hidden;
    padding: 10px;
}

.paragraph {
    padding: 10px;
    line-height: 2;
    font-family: Roboto, sans-serif;
}

.paragraphHeader {
    font-size: 22px;
    padding: 10px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

#showcaseButton {
    cursor: pointer;
    margin-bottom: 4%;
    padding: 20px;
    font-size: 20px;
    background-color: #ED254E;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    transition: 0.1s ease-in;
    
}

#showcaseButton:hover {
    transform: translateY(2%);
    background-color: rgb(190, 29, 61);
}

#teamImg {
    width: 45%;
    z-index: 2;
    box-shadow: -4px 4px 10px black;
}

#showcase h1, #showcase h2 {
    z-index: 2;
}

#doubleArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3%;
    color: var(--showcase-color);
    font-size: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    height: 5vh;
    width: 5vh;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#doubleArrow:hover {
    animation: flashing 0.5s ease-in infinite alternate;
}

@keyframes flashing {
    0% {
        color:var(--showcase-color);
        
    }
    100% {
        color: transparent;
        
    }
}

/* Mission statement */

#mission {
    margin-top: 5vh;
    width: 100%;
}

#missionRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#missionRow p {
    border: 3px solid var(--primary-color);
    border-right: none;
    width: 40%;
    padding: 25px;
    margin: 0;
}

#missionImg {
    width: 40%;
    box-shadow: var(--box-shadow);
}

/* Services */

.principles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-top: 15vh;
}

#list {
    padding: 40px;
    list-style-type: none;
    font-size: 20px;
    display: grid;
    grid-template: 1fr 1fr /1fr 1fr 1fr;
    grid-gap: 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2%
}

.listItem {
    text-align: center;
    font-size: 22px;
    justify-self: start;
    min-width: 33%;
}

.icon {
    color: #ED254E;
    padding: 10px;
}

.secondaryHeader {
    margin-top: 25px;
    text-align: center;
    padding: 10px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.roundedLine {
    border-top: 5px solid var(--secondary-color);
    border-radius: 5px;
    margin-top: 20vh;
}

.expand {
    animation: expand 0.5s ease-in forwards;
}

@keyframes expand {
    0% {
        width: 0px
    }
    100% {
        width: 30%;
    }
}

#testimonialsSection {
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

#testimonials {
    display: grid;
    width: 100%;
    margin-top: 10%;
    grid-template: 1fr/ 1fr 1fr 1fr;
}

.testimonialCard {
    width: 80%;
    margin-bottom: 10%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
    box-shadow: 2px 2px 5px black;
    position: relative;
    justify-content: flex-end;
    background-color: var(--showcase-color);
    margin: 0 auto 10% auto;
}

.testimonialTop {
    background-color: var(--secondary-color);
    width: 100%;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    position: relative;
}

.testimonialImg {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    position: absolute;
    bottom: -60px;
    margin: 0 auto;
    z-index: 3;
    border: 5px solid var(--showcase-color);
    box-shadow: 0px 0px 5px black;
}

.quote {
    font-size: 18px;
    color: var(--attention-color);
}

.quoteLeft {
    margin-right: auto;
}

.quoteRight {
    margin-left: auto;
}

.testimonialTextBox {
    flex-basis: 60%;
    width: 100%;
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    color: var(--primary-color);
    margin-top: 5%;
}

.testimonialTextBox p {
    margin: 0 35px;
}

.testimonialFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-basis: 20%;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--showcase-color);
}

.authorCity {
    padding: 0 5px;
}

.authorName {
    font-weight: bolder;
}

#arrowContainer {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
}

.arrow {
    font-size: 40px;
    color: var(--primary-color);
    cursor: pointer;
    margin: 10%;
}

#callToAction {
    background-image: url(/phone.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 100px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    padding: 50px;
}

#callToAction p {
    line-height: 2;
    font-weight: bold;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;

}

#callToAction span {
    color: red;
}

#contact {
    background-color: rgba(3, 3, 78, 0.493);
    padding: 20px;
    cursor: pointer;
    color: white;
    z-index: 2;
    font-size: 20px;
    font-weight: bold;
    margin: 0 5%;
    width: 30%;
    transition: 0.10s ease-in;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact:hover {
    background-color: rgb(3, 3, 78);
}

@media (max-width: 1300px) {

    #showcaseDesciption {
        width: 50%;
    }
    .paragraph {
        font-size: 14px;
    }
    #showcaseDescription h2 {
        font-size: 20px;
    }
    #showcaseButton {
        padding: 16px;
        font-size: 18px;
    }
    #teamImg {
        width: 50%;
    }
    #missionImg {
        width: 45%;
    }

}

@media (max-width: 1100px) {
    
    #showcaseDescription {
        border-left: 3px solid var(--tertiary-color);
        width: 70%;
        padding: 10px;
    }

    #showcaseDescription h2 {
        font-size: 25px;
        font-family: Raleway, sans-serif;
    }

    #showcaseDescription p {
        font-size: 16px;
        padding: 20px
    }
    #teamImg {
        display: none;
    }
    #doubleArrow {
        right: 2%;
    }
    #showcaseButton {
        padding: 20px;
        font-size: 20px;
    }
    #mission {
        margin-top: 4vh;
    }

    #missionRow {
        flex-direction: column-reverse;
        width: 50%;
    }
    
    #missionRow p {
        width: 100%;
        padding: 20px;
        text-align: justify;
        text-justify: inter-word;
        border: 3px solid var(--primary-color);
        border-top: none;
    }

    #missionRow span {
        font-size: 20px;
    }

    #missionImg {
        width: 100%;
        border: 3px solid var(--primary-color);
        border-bottom: none;
        bordeR: none;
        box-shadow: none;
    }
    .roundedLine {
        margin-top: 5vh;
    }
}

@media screen and (max-width: 650px) {
    #showcaseTitle {
        font-size: 35px;
    }
    #showcaseDescription {
        border-left: 3px solid var(--tertiary-color);
        width: 60%;
        padding: 10px;
    }
    #showcaseDescription p {
        font-size: 15px;
    }
    #showcaseButton {
        padding: 15px;
        font-size: 15px;
    }
}