/* -------------------------Showcase styles------------------------- */

#showcase {
    background-image: url(../images/city.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: var(--showcase-color);
    font-family: Roboto, sans-serif;
    position: relative;
}

#showcase::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(3, 3, 78, 0.493);
    width: 100%;
    height: 100%;
}

#showcaseTitle {
    padding: 60px;
    width: 80%;
    font-size: 45px;
    font-family: Raleway;
    letter-spacing: 7px;
    text-shadow: 1px 1px 3px black;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}

.animated {
animation: pop 0.4s forwards ease-in;
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: translateY(1%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#showcaseBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    padding: 20px;
}

#showcaseDescription {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    border: 3px solid #F9DC5C;
    border-left: none;
    margin-left: 0%;
    overflow: hidden;
    padding: 10px;
}

.paragraph {
    padding: 10px;
    line-height: 2;
    font-family: Roboto, sans-serif;
    font-size: 15px;
}

.paragraphHeader {
    font-size: 22px;
    padding: 10px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

#showcaseButton {
    cursor: pointer;
    margin-bottom: 4%;
    padding: 20px;
    font-size: 20px;
    background-color: var(--attention-color);
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    transition: 0.1s ease-in;

}

#showcaseButton:hover {
    transform: translateY(2%);
    background-color: rgb(190, 29, 61);
}

#teamImg {
    width: 45%;
    z-index: 2;
    box-shadow: -4px 4px 10px black;
}

#showcase h1, #showcase h2 {
    z-index: 2;
}

#doubleArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3%;
    color: var(--showcase-color);
    font-size: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    height: 5vh;
    width: 5vh;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#doubleArrow:hover {
    animation: flashing 0.5s ease-in infinite alternate;
}

@keyframes flashing {
    0% {
        color:var(--showcase-color);
        
    }
    100% {
        color: transparent;
        
    }
}

/* -------------------------Mission statement------------------------- */

.mission {
    margin-top: 5vh;
    width: 100%;
    padding: 10px;
    justify-content: center;
}

#missionRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#missionRow p {
    border: 3px solid var(--primary-color);
    border-right: none;
    width: 40%;
    padding: 25px;
    margin: 0;
}

#missionImg {
    width: 40%;
    box-shadow: var(--box-shadow);
}

/* -------------------------Services------------------------- */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
    margin-top: 15vh;
    background-color: var(--secondary-color);
    color: var(--showcase-color);
    width: 100%;
}

.servicesText {
    margin-top: 5vh;
    font-size: 16px;
}

#list {
    display: grid;
    grid-template: 1fr 1fr /1fr 1fr 1fr;
    grid-gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin-top: 5%;
    padding:40px;
}

.listItem {
    text-align: center;
    font-size: 16px;
    text-align: start;
    display: flex;
    align-items: flex-start;
}

.listItem p {
    height: 100%;
}

.icon {
    color: #ED254E;
    margin-right: 5px;
    font-size: 22px;
}

.services .roundedLine {
    margin-top: 2vh;
}

#more {
    margin-top: 10vh;
}

.secondaryHeader {
    margin-top: 25px;
    text-align: center;
    padding: 10px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

/*-------------------------Horizontal Line-------------------------  */

.roundedLine {
    border-top: 5px solid var(--secondary-color);
    border-radius: 5px;
    margin-top: 10vh;
}

.expand {
    animation: expand 0.5s ease-in forwards;
}

@keyframes expand {
    0% {
        width: 0px
    }
    100% {
        width: 26%;
    }
}

/* -------------------------Testimonial cards------------------------- */

.testimonialsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 100px 0 100px;
    width: 100%;
}

#testimonials {
    display: grid;
    width: 100%;
    margin-top: 5%;
    grid-template: 1fr/ 1fr 1fr 1fr;
}

.testimonialsIntro {
    font-size: 2rem;
    padding: 20px;
    margin-top: 2%;
    font-weight: lighter;
}

.testimonialCard {
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px black;
    position: relative;
    justify-content: flex-start;
    background-color: var(--showcase-color);
    margin: 0 auto 10% auto;
}

.testimonialTop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--showcase-color);
    font-size: 16px;
    position: relative;
    height: 40%;
}

.testimonialTopText {
    margin-right: auto;
    padding: 0 0 0 20px;
    width: 75%;
}

.authorName {
    font-weight: bolder;
}

.testimonialImg {
    border-radius: 50%;
    width: 25%; 
    z-index: 3;
    border: 3px solid var(--showcase-color);
    margin-left: 7%;
}

.quote {
    font-size: 18px;
    color: var(--attention-color);
}

.quoteLeft {
    margin-right: auto;
}

.quoteRight {
    margin-left: auto;
}

.testimonialTextBox {
    height: 70%;
    width: 100%;
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    color: var(--primary-color);
}

.testimonialTextBox p {
    margin: 0 35px;
}

/* -------------------------Call to action------------------------- */

#callToAction {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background: var(--secondary-color);
    box-shadow: var(--box-shadow);
    color: var(--showcase-color);
    margin: 8vh auto;
}

#callToAction p {
    line-height: 2;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-family: Raleway;
    padding: 10px;
}

#callToAction span {
    color: red;
    font-weight: 600;
}

#ctaImg {
    width: 20%
}

#contact {
    background-color: rgba(3, 3, 78, 0.493);
    background-color: var(--attention-color);
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    color: white;
    z-index: 2;
    font-size: 20px;
    font-weight: bold;
    margin: 0 3%;
    min-width: fit-content;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    transition: 0.2s ease-in;
}

#contact:hover {
    background-color: rgb(190, 29, 61);
    transform: translateY(5%);
    transition: 0.2s ease-in;
}

/* ------------------------- Media Queries ------------------------- */

@media (max-width: 1300px) {

    #showcaseDesciption {
        width: 50%;
    }
    .paragraph {
        font-size: 14px;
    }
    .paragraphHeader {
        font-size: 20px;
    }
    #showcaseButton {
        padding: 16px;
        font-size: 18px;
    }
    #teamImg {
        width: 50%;
    }
    #missionImg {
        width: 45%;
    }
    .testimonialsSection {
        padding: 20px;
    }
    #callToAction {
        width: 70%
    }
}

@media (max-width: 1150px) {

    #showcaseTitle {
        font-size: 40px;
    }
    
    #showcaseDescription {
        border-left: 3px solid var(--tertiary-color);
        width: 70%;
        padding: 10px;
    }

    .paragraphHeader {
        font-size: 25px;
        font-family: Raleway, sans-serif;
    }

    #showcaseDescription p {
        font-size: 16px;
        padding: 20px
    }
    #teamImg {
        display: none;
    }
    #doubleArrow {
        right: 2%;
    }
    #showcaseButton {
        padding: 20px;
        font-size: 20px;
    }
    #mission {
        margin-top: 4vh;
    }

    #missionRow {
        flex-direction: column-reverse;
        width: 50%;
    }
    
    #missionRow p {
        width: 100%;
        padding: 20px;
        text-align: justify;
        text-justify: inter-word;
        border: 3px solid var(--primary-color);
        border-top: none;
    }

    #missionRow span {
        font-size: 20px;
    }

    #missionImg {
        width: 100%;
        border: 3px solid var(--primary-color);
        border-bottom: none;
        bordeR: none;
        box-shadow: none;
    }
    .roundedLine {
        margin-top: 5vh;
    }
    #testimonials {
        grid-template: 1fr/1fr 1fr;
    }

    #callToAction {
        width: 90%;
    }

    #callToAction p {
        font-size: 16px;
    }
    .contact {
        font-size: 16px;
    }
}

@media screen and (max-width: 850px) {


    #showcaseTitle {
        font-size: 35px;
        padding: 20px;
        margin-bottom: 5%;
    }
    #showcaseDescription {
        border-left: 3px solid var(--tertiary-color);
        width: 70%;
        padding: 5px;

    }
    
    .mission {
        padding-bottom: none;
        padding-top: 20px;
    }

    #missionRow {
        margin-top: 2vh;
        width: 95%;
    }

    #missionRow p {
        padding: 10px;
    }
   
    #principles {
        width: 100%;
    }

    .services {
        padding: 15px;
        margin: 0;
    }

    .servicesText {
        font-size: 15px;
    }

    #list {
        width: 100%;
        padding: 20px 40px;
        grid-template: 1fr/ 1fr
    }

    .listItem p {
        font-size: 18px;
    }

    .testimonialTextBox p {
        font-size: 1.8rem;
    }

    .isAnimated {
        animation: none;
        /* change hardcoded properties from react-animate-on-scroll so there are no animations on mobile */
        opacity: 1 !important;
    }
    #callToAction {
        width: 100%;
        margin-bottom: 0;
        flex-direction: column;
    }

    #ctaImg {
        display: none;
    }

    #callToAction p {
        font-size: 14px;
        padding: 5px;
    }
    #contact {
        font-size: 15px;
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
    #showcase {
        justify-content: center;
    }

    #showcaseTitle {
        font-size: 30px;
    }

    #showcaseBody {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 20px;
        width: 90%;
    }

    #showcaseDescription {
        width: 80%;
    }

    .paragraphHeader {
        padding: 0;
        font-size: 20px;;
    }

    #showcaseButton {
        font-size: 16px;
        font-weight: lighter;
        padding: 18px;
    }

    #doubleArrow {
        padding: 15px;
        font-size: 15px;
    }

    #missionRow {
        flex-direction: row;
    }

    #missionRow p {
        border-top: 3px solid var(--primary-color);
        width: 65%;
        margin-top: 3vh;
    }

    #missionImg {
        display: none;
    }

    .services {
        margin-top: 5%;
        padding: 25px;
    }

    #list {
        grid-template: 1fr 1fr/ 1fr 1fr;
    }
    .testimonialCard {
        width: 60%;
    }
    #ctaImg {
        display: block;
    }
    #callToAction {
        flex-direction: row;
    }
}

@media screen and (max-width: 680px) {
    #showcaseTitle {
        font-size: 28px;
        padding: 10px;
        width: 90%;
    }

    .paragraphHeader {
        font-size: 20px;
    }

    #showcaseDescription {
        width: 100%;
    }

    #showcaseButton {
        font-size: 16px;
        font-weight: lighter;
        padding: 18px;
    }

    #doubleArrow {
        font-size: 15px;
    }

    #testimonials {
        grid-template: 1fr/1fr;
    }
    .testimonialCard {
        width: 70%;
    }
}

@media screen and (max-width: 680px) and (orientation: landscape) {

    #showcaseBody {
        width: 90%;
    }

    #showcaseDescription {
        margin-top: 5%;
    }


    #missionRow p {
        width: 80%;
    }

    .servicesText {
        width: 90%
    }

    .testimonialCard {
        width: 60%;
    }

    .testimonialImg {
        width: 20%;
    }
}

@media screen and (max-width: 359px) {
    #showcaseDescription p {
        font-size: 14px;
    }
}

@media screen and (max-width: 580px) and (orientation: landscape) {
    #showcaseTitle {
        font-size: 25px;
    }

    .paragraphHeader {
        display: none;
    }

    #showcaseDescription {
        margin-top: 2%;
    }

    #showcaseDescription p {
        font-size: 14px;
        padding: 12px;
    }
    #showcaseButton {
        font-size: 15px;
        padding: 16px;
    }
}