
/* ------------------------- Media Queries ------------------------- */

@media (max-width: 1300px) {

    #showcaseDesciption {
        width: 50%;
    }
    .paragraph {
        font-size: 14px;
    }
    .paragraphHeader {
        font-size: 20px;
    }
    #showcaseButton {
        padding: 16px;
        font-size: 18px;
    }
    #teamImg {
        width: 50%;
    }
    #missionImg {
        width: 45%;
    }
    .testimonialsSection {
        padding: 20px;
    }
    #callToAction {
        width: 70%
    }
}

@media (max-width: 1150px) {

    #showcaseTitle {
        font-size: 40px;
    }
    
    #showcaseDescription {
        border-left: 3px solid var(--tertiary-color);
        width: 70%;
        padding: 10px;
    }

    .paragraphHeader {
        font-size: 25px;
        font-family: Raleway, sans-serif;
    }

    #showcaseDescription p {
        font-size: 16px;
        padding: 20px
    }
    #teamImg {
        display: none;
    }
    #doubleArrow {
        right: 2%;
    }
    #showcaseButton {
        padding: 20px;
        font-size: 20px;
    }
    #mission {
        margin-top: 4vh;
    }

    #missionRow {
        flex-direction: column-reverse;
        width: 45%;
    }
    
    #missionRow p {
        width: 100%;
        padding: 20px;
        text-align: justify;
        text-justify: inter-word;
        border: 3px solid var(--primary-color);
        border-top: none;
    }

    #missionImg {
        width: 100%;
        border: 3px solid var(--primary-color);
        border-bottom: none;
        bordeR: none;
        box-shadow: none;
    }
    .roundedLine {
        margin-top: 5vh;
    }
    #testimonials {
        grid-template: 1fr/1fr 1fr;
    }

    #callToAction {
        width: 90%;
    }

    #callToAction p {
        font-size: 16px;
    }
    .contact {
        font-size: 16px;
    }
}

@media screen and (max-width: 850px) {

    #showcaseTitle {
        font-size: 35px;
        padding: 20px;
        margin-bottom: 5%;
    }
    #showcaseDescription {
        border-left: 3px solid var(--tertiary-color);
        width: 70%;
        padding: 5px;

    }
    
    .mission {
        padding-bottom: none;
        padding-top: 20px;
    }

    #missionRow {
        margin-top: 2vh;
        width: 45%;
    }

    #missionRow p {
        padding: 10px;
    }
   
    #principles {
        width: 100%;
    }

    .services {
        padding: 15px;
        margin: 0;
    }

    .servicesText {
        font-size: 15px;
    }

    #list {
        width: 100%;
        padding: 20px 40px;
        grid-template: 1fr/ 1fr
    }

    .listItem p {
        font-size: 18px;
    }

    .testimonialTextBox p {
        font-size: 1.8rem;
    }

    

    #callToAction {
        width: 100%;
        margin-bottom: 0;
        flex-direction: column;
    }

    #ctaImg {
        display: none;
    }

    #callToAction p {
        font-size: 14px;
        padding: 5px;
    }
    #contact {
        font-size: 15px;
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
    #showcase {
        justify-content: center;
    }

    #showcaseTitle {
        font-size: 30px;
        margin-bottom: 2%;
    }

    #showcaseBody {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 20px;
        width: 90%;
    }

    #showcaseDescription {
        width: 80%;
    }

    .paragraphHeader {
        padding: 0;
        font-size: 20px;;
    }

    #showcaseButton {
        font-size: 16px;
        font-weight: lighter;
        padding: 18px;
    }

    #doubleArrow {
        padding: 15px;
        font-size: 15px;
    }

    #missionRow {
        flex-direction: row;
    }

    #missionRow p {
        border-top: 3px solid var(--primary-color);
        width: 5%;
        margin-top: 3vh;
    }

    #missionImg {
        display: none;
    }

    .services {
        margin-top: 5%;
        padding: 25px;
    }

    #list {
        grid-template: 1fr 1fr/ 1fr 1fr;
    }
    .testimonialCard {
        width: 60%;
    }
    #ctaImg {
        display: block;
    }
    #callToAction {
        flex-direction: row;
    }
}

@media screen and (max-width: 680px) {
    #showcaseTitle {
        font-size: 28px;
        padding: 10px;
        width: 90%;
    }

    .paragraphHeader {
        font-size: 20px;
    }

    #showcaseDescription {
        width: 100%;
    }

    #showcaseButton {
        font-size: 16px;
        font-weight: lighter;
        padding: 18px;
    }

    #missionRow {
        width: 60%;
    }

    #doubleArrow {
        font-size: 15px;
    }

    #testimonials {
        grid-template: 1fr/1fr;
    }
    .testimonialCard {
        width: 70%;
    }
}

@media screen and (max-width: 680px) and (orientation: landscape) {

    #showcaseTitle {
        font-size: 25px;
    }

    #showcaseBody {
        width: 70%;
    }

    #showcaseDescription {
        margin-top: 5%;
    }

    #showcaseDescription {
        margin-top: 2%;
    }

    #showcaseDescription p {
        font-size: 14px;
        padding: 12px;
    }
    #showcaseButton {
        font-size: 15px;
        padding: 16px;
    }


    #missionRow p {
        width: 80%;
    }

    .servicesText {
        width: 90%
    }

    .testimonialCard {
        width: 60%;
    }

    .testimonialImg {
        width: 20%;
    }
}

@media screen and (max-width: 580px) and (orientation: landscape) {
    #showcaseTitle {
        font-size: 25px;
        margin-bottom: 0;
    }

    .paragraphHeader {
        display: none;
    }

    .mission {
        margin: 0;
    }

    #showcaseDescription {
        margin-top: 2%;
    }

    #showcaseDescription p {
        font-size: 14px;
        padding: 12px;
    }
    #showcaseButton {
        font-size: 15px;
        padding: 16px;
    }
    .testimonialCard {
        width: 85%;
    }
}

@media screen and (max-width: 450px) {
    #missionRow {
        width: 80%;
    }
}
 
@media screen and (max-width: 360px) {
    #showcaseDescription p {
        font-size: 14px;
    }
    .mission {
        margin: 0;
    }
    #missionRow {
        width: 85%;
    }

    #missionRow p {
        text-align: left;
    }

    .paragraph {
        line-height: 1.6;
    }
    .listItem p, .listItem i {
        font-size: 16px;
    }

}