.mobileNavigation {
    display: none;
}

#mobileNavbarBody {
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100vh;
    z-index: 40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset -5px 0px 10px -8px black;
}

#mobileNavbarBody a {
    color: var(--showcase-color);
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 30px;
    margin:50px 0px;
    user-select: none;
    text-decoration: none;
}

#mobileNavbarBody a:hover {
    text-decoration: none;
}

#mobileIcon {
    color: var(--showcase-color);
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 220;
    background-color: var(--primary-color);
    padding: 10px;
    cursor: pointer;
    
}

#mobileExitIcon {
    color: var(--showcase-color);
    position: fixed;
    top: 0%;
    left: 0%;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

@keyframes animated {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .mobileNavigation {
        display: block;
    }
    #mobileNavbarBody a {
        font-size: 22px;
    }
}

@media screen and (max-width: 650px) {
    #mobileNavbarBody {
        width: 40%;
    }
    #mobileNavbarBody a {
        font-size: 20px;
    }
}