.myNavbar {
    overflow: hidden;
    height: 100%;
    width: 11vw;
    justify-content: flex-start;
    z-index: 2;
    background-color: var(--secondary-color);
    position: fixed;
    
}

#wave {
    z-index: 5;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 10px;
    
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacitY: 0.5;
}

#links {
    flex: 1;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 10;
}

.link {
    font-family: Raleway, sans-serif;
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.link:hover {
    color: white;
    text-decoration: none;
}

#logo {
    height: 25%;
    font-size: 25px;
    width: 100%;
    padding: 20px 0px;
    justify-content: space-evenly;
}

.logoImg {
    width: 70%;
}

@media (max-width: 900px) {
    .myNavbar {
      display: none;
    }
  }
