.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
    margin-top: 15vh;
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: 100%;
}

.servicesText {
    margin-top: 5vh;
    font-size: 16px;
}

#list {
    display: grid;
    grid-template: 1fr 1fr /1fr 1fr 1fr;
    grid-gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin-top: 5%;
    padding:40px;
}

.listItem {
    text-align: center;
    font-size: 20px;
    text-align: start;
    display: flex;
    align-items: flex-start;
}

.listItem p {
    height: 100%;
}

.icon {
    color: var(--attention-color);
    margin-right: 5px;
    font-size: 20px;
}

.services .roundedLine {
    margin-top: 2vh;
}

#more {
    margin-top: 10vh;
}

.secondaryHeader {
    margin-top: 25px;
    text-align: center;
    padding: 10px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width: 850px) {
    .services {
        padding: 15px;
        margin: 0;
    }

    .servicesText {
        font-size: 15px;
    }

    #list {
        width: 100%;
        padding: 20px 40px;
        grid-template: 1fr/ 1fr
    }

    .listItem p {
        font-size: 18px;
    }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
    .services {
        margin-top: 5%;
        padding: 25px;
    }

    #list {
        grid-template: 1fr 1fr/ 1fr 1fr;
    }
}

@media screen and (max-width: 680px) and (orientation: landscape) {
    .servicesText {
        width: 90%
    }
}

@media screen and (max-width: 360px) {
    .listItem p, .listItem i {
        font-size: 16px;
    }
}