.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 10vh;
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: 100%;
}

.servicesHeader {
    margin-top: 5vh;
    font-size: 18px;
    width: 80%;
    line-height: 2;
}

.servicesList {
    display: grid;
    grid-template: 1fr 1fr /1fr 1fr 1fr;
    grid-gap: 40px;
    width: 80%;
    margin: 5vh 0;
    padding: 20px;
}

.listItem {
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.icon {
    color: var(--attention-color);
    margin-right: 5px;
}

.bottomText {
    margin-bottom: 2vh;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 500;
    font-size: 25px;
    line-height: 1;
}

@media (max-width: 1200px) {
    .servicesList {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .servicesHeader {
        font-size: 16px;
    }
    .listItem {
        font-size: 17px;
    }
}

@media (max-width: 850px) {
    .servicesHeader {
        font-size: 17px;
    }
    .bottomText {
        font-size: 20px;
    }

}

@media screen and (max-width: 850px) and (orientation: landscape) {
    .services {
        margin-top: 5%;
        padding: 25px;
    }

    .servicesList {
        grid-template: 1fr 1fr/ 1fr 1fr;
        grid-gap: 20px;
    }
}

@media (max-width: 680px) {
    .servicesHeader {
        font-size: 16px;
        line-height: 1.7;
        text-align: justify;
        width: 90%;
    }

    .servicesList {
        padding: 0;
    }
    
    .listItem {
        font-size: 17px;
    }

}

@media screen and (max-width: 680px) and (orientation: landscape) {
    .servicesHeader {
        width: 90%
    }
    .servicesList {
        grid-gap: 20px;
        width: 90%;
    }
}

@media (max-width: 580px) {
    .servicesList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 0;
        grid-gap: 20px;
        width: 80%;
        margin: 3vh 0px 3vh 40px;
    }
    .listItem {
        margin: 10px 0;
        font-size: 17px;
    }
}

@media (max-width: 580px) and (orientation: landscape) {
    .servicesList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        grid-gap: 20px;
        width: 90%;
        margin: 7vh 0;
    }
    .listItem {
        margin: 0;
    }

}

@media (max-width: 360px) {
    .listItem {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .servicesHeader {
        line-height: 1.4;

    }
    .servicesList {
        margin: 3vh 0;
    }
}