#showcase {
    background-image: url(../images/city.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: var(--text-color);
    position: relative;
    font-family: Roboto, sans-serif;
}

#showcase::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(3, 3, 78, 0.45);
    width: 100%;
    height: 100%;
}

#showcaseTitle {
    padding: 60px;
    font-size: 45px;
    font-family: Raleway;
    letter-spacing: 7px;
    text-shadow: 1px 1px 3px black;
    text-align: center;
    font-weight: 500;
}

#showcaseBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    padding: 20px;
}

#showcaseDescription {
    z-index: 2;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    border: 3px solid var(--tertiary-color);
    border-left: none;
    margin-left: 0%;
    padding: 10px;
}

#showcaseHeader {
    font-size: 22px;
    padding: 15px;
    font-family: Roboto, sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
}

#showcaseParagraph {
    padding: 10px 10px 15px 10px;
    line-height: 2;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}


#teamImg {
    max-width: 700px;
    width: 45%;
    z-index: 2;
    box-shadow: -4px 4px 10px black;
}

#showcase button {
    margin-bottom: 4%;
    font-size: 20px;
}

#doubleArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3%;
    color: var(--text-color);
    font-size: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#doubleArrow:hover {
    -webkit-animation: flashing 0.3s ease-in infinite alternate;
            animation: flashing 0.3s ease-in infinite alternate;
}

@-webkit-keyframes flashing {
    0% {
        color:var(--text-color);
    }
    100% {
        color: transparent;
    }
}

@keyframes flashing {
    0% {
        color:var(--text-color);
    }
    100% {
        color: transparent;
    }
}

/* -- Media Queries -- */
   
@media (max-width: 1380px) {
    #showcaseDescription {
        width: 42%;
    }

    #showcaseHeader {
        font-size: 20px;
    }

    #showcaseParagraph {
        font-size: 15px;
    }

    #showcaseButton {
        padding: 16px;
        font-size: 18px;
    }

    #teamImg {
        width: 55%;
    }
}

@media (max-width: 1150px) {
    #showcaseTitle {
        font-size: 40px;
    }
    
    #showcaseDescription {
        border-left: 3px solid var(--tertiary-color);
        width: 70%;
        padding: 10px;
    }

    #showcaseHeader {
        font-size: 25px;
    }

    #showcaseParagraph {
        font-size: 16px;
        padding: 15px;
    }

    #teamImg {
        display: none;
    }

    #doubleArrow {
        right: 2%;
    }
    
    #showcase button {
        padding: 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 850px) {
    #showcaseTitle {
        font-size: 35px;
        padding: 20px;
        margin-bottom: 5%;
    }

    #showcaseParagraph {
        font-size: 15px;
    }

    #showcaseDescription {
        padding: 5px;
    }

    #doubleArrow {
        height: 30px;
        width: 30px;
        font-size: 15px;
    }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
    #showcase {
        justify-content: center;
    }

    #showcaseTitle {
        font-size: 30px;
        margin-bottom: 2%;
    }

    #showcaseBody {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 20px;
        width: 90%;
    }

    #showcaseHeader {
        padding: 0;
        font-size: 20px;
    }

    #showcaseDescription {
        width: 80%;
    }

    #showcase button {
        font-size: 16px;
        font-weight: lighter;
        padding: 18px;
    }

}

@media screen and (max-width: 680px) {
    #showcaseTitle {
        font-size: 30px;
        padding: 10px;
        width: 90%;
    }

    #showcaseHeader {
        font-size: 20px;
        padding: 10px;
    }

    #showcaseParagraph {
        font-size: 15px;
    }

    #showcaseDescription {
        width: 90%;
    }

    #showcase button {
        font-size: 16px;
        font-weight: lighter;
        padding: 18px;
    }
}

@media screen and (max-width: 680px) and (orientation: landscape) {
    #showcaseTitle {
        font-size: 25px;
    }

    #showcaseBody {
        width: 80%;
    }

    #showcaseDescription {
        margin-top: 2%;
    }

    #showcase button {
        font-size: 15px;
        padding: 16px;
    }
}

@media screen and (max-width: 580px) and (orientation: landscape) {
    #showcaseTitle {
        margin-bottom: 0;
    }

    #showcaseBody {
        width: 90%;
    }

    #showcaseHeader {
        display: none;
    }

    #showcaseParagraph {
        font-size: 14px;
        padding: 12px;
    }
}

@media (max-width: 360px) {

    #showcaseTitle {
        font-size: 24px;
        padding:0;
        margin-bottom: 10%;
    }

    #showcaseBody {
        padding: 10px;
    }

    #showcaseHeader {
        font-size: 18px;
    }
    #showcaseParagraph {
        font-size: 14px;
    }
    #doubleArrow {
        font-size: 14px;
    }
}