.testimonialsSection {
    margin-top: 15vh;
    padding: 0 20px;
    width: 100%;
}

#testimonials {
    display: grid;
    width: 80%;
    grid-template: 1fr/ 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 5vh;
}

.testimonialsIntro {
    font-size: 2rem;
    padding: 20px 20px 4% 20px;
    margin-top: 2%;
    font-weight: lighter;
    color: var(--primary-color);
}

.testimonialCard {
    width: 100%;
    min-height: 275px;
    box-shadow: var(--box-shadow);
    position: relative;
    justify-content: flex-start;
    background-color: var(--text-color);
}

.testimonialTop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 14px;
    position: relative;
}

.testimonialTopText {
    flex: 1;
    height: 100%;
}

.authorName {
    font-size: 17px;
    line-height: 1.7;
}

.testimonialImg {
    width: 30%;
}

.quote {
    font-size: 18px;
    color: var(--attention-color);
}

.quoteLeft {
    margin-right: auto;
}

.quoteRight {
    margin-left: auto;
}

.testimonialTextBox {
    width: 100%;
    padding: 10px;
    position: relative;
    font-size: 16px;
    color: var(--primary-color);
    flex: 1;
    line-height: 1.5;
    text-align: center
}

.testimonialTextBox p {
    margin: 0 40px;
}

@media (min-width: 1450px) {
    #testimonials {
        width: 70%;
    }
}

@media (max-width: 1200px) {
    #testimonials {
        width: 85%;
    }
}

@media (max-width: 1150px) {
    #testimonials {
        grid-template: 1fr/1fr 1fr;
    }
}

@media (max-width: 850px) {
    #testimonials {
        grid-gap: 25px;
    }
    .testimonialTextBox p {
        font-size: 1.8rem;
    }
}


@media (max-width: 680px) {
    #testimonials {
        grid-template: 1fr/1fr 1fr;
        width: 90%;
    }
    .testimonialCard {
        min-height: 250px;
    }
    .testimonialImg {
        width: 25%;
    }
}

@media (max-width: 680px) and (orientation: landscape) {
    .testimonialImg {
        width: 20%;
    }
}

@media (max-width: 580px) {
    #testimonials {
        grid-template-columns: 1fr;
        width: 80%;
    }
}